<div class="container">
    <h2 class="text-center">The big calculation tool requirements</h2>
    <div class="row my-4">
        <ul>
            <li>There is a field to enter the vehicle base price</li>
            <li>There is a field to specify the vehicle type (Common or Luxury)</li>
            <li>The list of fees and their amount are displayed</li>
            <li>The total cost is automatically computed and displayed every time the price or type changes</li>
        </ul>
    </div>

    <div class="">
        <h2 class="text-center">Fixed and Variable Costs</h2>
        <div class="row my-4">
            <ul>
                <li>
                    <span class="section-title">Basic buyer fee:</span> 10% of the price of the vehicle
                    <ul>
                        <li>Common: minimum $10 and maximum $50</li>
                        <li>Luxury: minimum $25 and maximum $200</li>
                    </ul>
                </li>
                <li>
                    <span class="section-title">The seller's special fee:</span>
                    <ul>
                        <li> Common:2% of the vehicle price</li>
                        <li>Luxury: 4% of the vehicle price</li>
                    </ul>
                </li>
                <li>
                    <span class="section-title">The added costs for the association based on the price of the vehicle:</span>
                    <ul>
                        <li>$5 for an amount between $1 and $500</li>
                        <li>$10 for an amount greater than $500 up to $1000</li>
                        <li>$15 for an amount greater than $1000 up to $3000</li>
                        <li>$20 for an amount over $3000</li>
                    </ul>
                </li>
                <li>A fixed storage fee of $100</li>
            </ul>
        </div>
    </div>
</div>